@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.header__container {
    background-image: url("img/02.jpg");
    background-size: cover;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    padding: 0 152px;   
}

.header__title{
  font-family: "Pacifico", cursive;
  color:  #0d6efd;
}
.header__subtitle{
   color: #0d6efd;
}
.header_info{
    height:400px ;
}

.nav__container{
  font-size: 1.2rem;
  font-weight: 600;
}

.pacote{
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pacote-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2.5rem;
    padding: 20px 152px;
}

.pacote img {
    border-radius: 5px;
    width: 350px;
    max-height: 170px;
}

.pacote h2 {
    margin-top: 0;
}

.pacote p {
    margin-bottom: 10px;
}

.pacote p:last-child {
    margin-bottom: 0;
}

.botao {
    display: inline-block;
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    width: 40%;
}
.botao:hover {
    background-color: #6c5454;
}

.nav__itens{
    list-style: none;
    text-decoration: none;
}

.footer{
    background-color: #0d6efd;
    color: #ffffff;
    text-align: center;
}

.footer p{
    margin-bottom: 0;
}